<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="WebFileSysLogAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/var/log/webfilesys/webfilesys.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%C [%d{yyyy-MM-dd HH:mm:ss}] %-5p - %m%n" />
		</layout>
	</appender>

	<appender name="WFSSyslogAppender" class="org.apache.log4j.net.SyslogAppender">
		<param name="Facility" value="USER" />
		<param name="SyslogHost" value="192.168.1.2" />
		<param name="Threshold" value="DEBUG" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%C [%d{yyyy-MM-dd HH:mm:ss}] %-5p - %m%n" />
		</layout>
	</appender>

	<appender name="WFSConsoleAppender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%C [%d{yyyy-MM-dd HH:mm:ss}] %-5p - %m%n" />
		</layout>
	</appender>

	<!-- <appender name="MAIL" class="org.apache.log4j.net.SMTPAppender"> <param 
		name="SMTPHost" value="mail" /> <param name="Subject" value="WebFileSys serious 
		error" /> <param name="To" value="admin@webfilesys.nowhere.com" /> <param 
		name="From" value="admin@webfilesys.nowhere.com" /> <param name="BufferSize" 
		value="5" /> <layout class="org.apache.log4j.PatternLayout"> <param name="ConversionPattern" 
		value="[%d{yyyy-MM-dd HH:mm:ss}] %-5p - %m%n"/> </layout> </appender> -->

	<logger name="de.webfilesys" additivity="false">
		<level value="debug" />
		<appender-ref ref="WebFileSysLogAppender" />
		<appender-ref ref="WFSSyslogAppender" />
		<appender-ref ref="WFSConsoleAppender" />
	</logger>

	<root>
		<priority value="info" />
		<appender-ref ref="WebFileSysLogAppender" />
		<appender-ref ref="WFSSyslogAppender" />
		<appender-ref ref="WFSConsoleAppender" />
	</root>

</log4j:configuration>